html {
	background-image: -ms-linear-gradient(bottom, #e0e0e0 0%, #f5f5f5 100%);
	background-image: -moz-linear-gradient(bottom, #e0e0e0 0%, #f5f5f5 100%);
	background-image: -o-linear-gradient(bottom, #e0e0e0 0%, #f5f5f5 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), color-stop(1, #f5f5f5));
	background-image: -webkit-linear-gradient(bottom, #e0e0e0 0%, #f5f5f5 100%);
	background-image: linear-gradient(bottom, #e0e0e0 0%, #f5f5f5 100%);
	position: absolute 0 0 0 0;
	overflow: auto;
	background-attachment: fixed;
}

body {
	background: #fff url(/images/sprout.png) no-repeat 50% 25px;
	border-radius: 5px;
	box-shadow: 0 0 15px #bbb;
	color: #000;
	font: 80%/1.5 "Lucida Grande", "Lucida Sans", Lucida, Verdana, sans-serif;
	margin: 50px auto 3em;
	padding: 90px 30px 30px;
	width: 600px;
}

h3 {
	color: #090;
}
